@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.25rem 2.5rem;
  border-radius: 5px;
}

.container h1 {
  text-align: center;
  margin-bottom: 1.8rem;
}

.container a {
  text-decoration: none;
  color: lightblue;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-color: lightblue;
  padding: 1rem;
  font-size: 1rem;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 1.8rem;
}

.form-control {
  position: relative;
  margin: 1.5rem 0 2.5rem;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 1rem;
  left: 0;
  cursor: text;
}

.form-control label span {
  display: inline-block;
  font-size: 1.125rem;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #fff;
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  translate: 0 -1.875rem;
}
